export class Env {
    public GigachatClientID :string = '';
    public GigachatClientSecret: string = '';
    public GigachatScope: string = '';
    public GigachatApiUrl: string = '';
    public GigachatTokenUrl:string = '';
}