export class Env {
    public GigachatClientID :string = 'client-id';
    public GigachatClientSecret: string = 'client-secret';
    public GigachatScope: string = 'scope';
    public GigachatApiUrl: string = 'api url';
    public GigachatTokenUrl:string = 'token api url';
}